body {
    background-color: #ffdada;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #0ae67b;
    border-width: 5px;
    background-color: #ffdada;
    width: 5%;
}

h1:hover {
    background-color: gold;
}

.cat {
    background-color: gold;
}

.cat:hover {
    background-color: green;
}